#title {
  text-align: center;
}

.block {
  height: 40px;
  padding: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.block-left {
  border-left: 1px solid black;
}

.block-right {
  border-right: 1px solid black;
}

.filled {
  background-color: black;
}

.step {
  margin-top: 40px;
}
