$blue: #00a2ff;

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 1.2rem;
  margin: 0;
}

.progress {
  height: 100%;
}

//.progress-bar {
//  background-color: $blue;
//}

.progress-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: .5;
}
